Repository catoblepa/metadata-cleaner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: mypy, pydocstyle, pycodestyle, screenshots, pages

Path conditions:
  mypy: any of: application/**/*.py
  pydocstyle: any of: application/**/*.py
  pycodestyle: any of: application/**/*.py
  screenshots: any of: help/**/*.po, help/LINGUAS, screenshots/**/*
  pages: any of: resources/screenshots/**/*, website/**/*

Readme: Update dependencies versions
  README.md
Due: none

Out button: Use opaque style class
  application/data/css/style.css
  application/data/ui/OutButton.ui
Due: none

Window: Allow dropping files and folders to add them
  application/metadatacleaner/ui/window.py
Due: mypy, pydocstyle, pycodestyle

File store: Only add directories and regular files
  application/metadatacleaner/modules/filestore.py
Due: mypy, pydocstyle, pycodestyle

Window: Correctly parse the recursive option of the folder chooser dialog
  application/metadatacleaner/ui/window.py
Due: mypy, pydocstyle, pycodestyle

Metainfo: Add v2.2.0 release notes
  application/data/fr.romainvigier.MetadataCleaner.metainfo.xml
  application/po/fr.romainvigier.MetadataCleaner.pot
Due: none

Website: Update screenshots
  website/app-2x.png
  website/app.png
Due: pages

Details view: Remove old code
  application/data/ui/DetailsView.ui
Due: none

Application: Update French translation using Weblate
  application/po/fr.po
Due: none

Application: Update translation files
  application/po/ca.po
  application/po/cs.po
  application/po/da.po
  application/po/de.po
  application/po/es.po
  application/po/eu.po
  application/po/fi.po
  application/po/fr.po
  application/po/gl.po
  application/po/hr.po
  application/po/hu.po
  application/po/id.po
  application/po/it.po
  application/po/ja.po
  application/po/ko.po
  application/po/lt.po
  application/po/nb_NO.po
  application/po/nl.po
  application/po/nn.po
  application/po/oc.po
  application/po/pl.po
  application/po/pt.po
  application/po/pt_BR.po
  application/po/ro.po
  application/po/ru.po
  application/po/si.po
  application/po/sv.po
  application/po/tr.po
  application/po/zh_Hans.po
  application/po/zh_Hant.po
Due: none

Application: Update Chinese (Simplified) translation using Weblate
  application/po/zh_Hans.po
Due: none

Application: Update Dutch translation using Weblate
  application/po/nl.po
Due: none

Help: Update screenshots
  help/ca/figures/add-files-button.png
  help/ca/figures/add-files-button.png.license
  help/ca/figures/clean-button.png
  help/ca/figures/clean-button.png.license
  help/ca/figures/metadata-example.png
  help/ca/figures/metadata-example.png.license
Due: none

Changelog: Update v2.2.0 release notes
  CHANGELOG.md
Due: none

Application: Set full binary path in desktop and service files
  application/data/fr.romainvigier.MetadataCleaner.desktop.in
  application/data/fr.romainvigier.MetadataCleaner.service.in
  application/data/meson.build
Due: none

Application: Update Croatian translation using Weblate
  application/po/hr.po
Due: none

Changelog: Add v2.2.1 release notes
  CHANGELOG.md
Due: none

Build system: Bump version number to 2.2.1
  meson.build
Due: none

Metainfo: Add v2.2.1 release notes
  application/data/fr.romainvigier.MetadataCleaner.metainfo.xml
  application/po/fr.romainvigier.MetadataCleaner.pot
Due: none

Help: Update Indonesian translation using Weblate
  help/id/id.po
Due: screenshots

Application: Update Finnish translation using Weblate
  application/po/fi.po
Due: none

Application: Update German translation using Weblate
  application/po/de.po
Due: none

Application: Update Norwegian Bokmål translation using Weblate
  application/po/nb_NO.po
Due: none

Application: Update Russian translation using Weblate
  application/po/ru.po
Due: none

Application: Update Bengali translation using Weblate
  application/po/bn.po
Due: none

Help: Update screenshots
  help/bn/figures/add-files-button.png
  help/bn/figures/add-files-button.png.license
  help/bn/figures/clean-button.png
  help/bn/figures/clean-button.png.license
  help/bn/figures/metadata-example.png
  help/bn/figures/metadata-example.png.license
Due: none

Application: Fix Chinese translations
  application/po/LINGUAS
  application/po/zh_CN.po
  application/po/zh_TW.po
Due: none

Screenshots: Fix Chinese translations
  screenshots/screenshot.py
Due: screenshots

Help: Fix Chinese translations
  help/LINGUAS
  help/zh_CN/figures/add-files-button.png
  help/zh_CN/figures/add-files-button.png.license
  help/zh_CN/figures/clean-button.png
  help/zh_CN/figures/clean-button.png.license
  help/zh_CN/figures/metadata-example.png
  help/zh_CN/figures/metadata-example.png.license
  help/zh_CN/zh_CN.po
  help/zh_TW/figures/add-files-button.png
  help/zh_TW/figures/add-files-button.png.license
  help/zh_TW/figures/clean-button.png
  help/zh_TW/figures/clean-button.png.license
  help/zh_TW/figures/metadata-example.png
  help/zh_TW/figures/metadata-example.png.license
  help/zh_TW/zh_TW.po
Due: screenshots

Build system: Bump version number to 2.2.2
  meson.build
Due: none

Metainfo: Add v2.2.2 release notes
  application/data/fr.romainvigier.MetadataCleaner.metainfo.xml
Due: none

Application: Update Ukrainian translation using Weblate
  application/po/uk.po
Due: none

Help: Update screenshots
  help/uk/figures/add-files-button.png
  help/uk/figures/add-files-button.png.license
  help/uk/figures/clean-button.png
  help/uk/figures/clean-button.png.license
  help/uk/figures/metadata-example.png
  help/uk/figures/metadata-example.png.license
Due: none

Flatpak: Update modules to latest versions
  build-aux/fr.romainvigier.MetadataCleaner.yaml
Due: none

Application: Update Italian translation using Weblate
  application/po/it.po
Due: none

File: Raise an error if mat2 returns False when removing metadata
  application/metadatacleaner/modules/file.py
Due: mypy, pydocstyle, pycodestyle

Application: Update Hungarian translation using Weblate
  application/po/hu.po
Due: none
