Repository catoblepa/metadata-cleaner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: screenshots, translations, mypy, pydocstyle, pycodestyle

screenshots:
  stage: prepare
  image:
    name: registry.gitlab.com/rmnvgr/uishooter:latest
    entrypoint:
    - ''
  script:
  - python3 screenshots/screenshot.py
  artifacts:
    paths:
    - help/
    - resources/
    - website/
    expire_in: 1 day

translations:
  image: freedesktopsdk/sdk:22.08
  stage: prepare
  script:
  - meson builddir
  - meson compile -C builddir ${APP_ID}-pot
  - meson compile -C builddir help-${APP_ID}-pot
  artifacts:
    paths:
    - $APP_POT
    - $HELP_POT
    expire_in: 1 day

mypy:
  image: python:latest
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: python
    paths:
    - .cache/pip
    - venv/
  before_script:
  - python -V
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate
  stage: check
  interruptible: true
  script:
  - pip install mypy
  ...

pydocstyle:
  image: python:latest
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: python
    paths:
    - .cache/pip
    - venv/
  before_script:
  - python -V
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate
  stage: check
  interruptible: true
  script:
  - pip install pydocstyle
  ...

pycodestyle:
  image: python:latest
  variables:
    PIP_CACHE_DIR: $CI_PROJECT_DIR/.cache/pip
  cache:
    key: python
    paths:
    - .cache/pip
    - venv/
  before_script:
  - python -V
  - pip install virtualenv
  - virtualenv venv
  - source venv/bin/activate
  stage: check
  interruptible: true
  script:
  - pip install pycodestyle
  ...

Application: Update Hungarian translation using Weblate
  application/po/hu.po
Due: screenshots

Application: Update Korean translation using Weblate
  application/po/ko.po
Due: screenshots

Application: Update translation template
  application/po/fr.romainvigier.MetadataCleaner.pot
Due: none

Help: Update translation files
  help/ar/ar.po
  help/az/az.po
  help/bn/bn.po
  help/ca/ca.po
  help/cs/cs.po
  help/da/da.po
  help/de/de.po
  help/el/el.po
  help/eo/eo.po
  help/es/es.po
  help/eu/eu.po
  help/fi/fi.po
  help/fr/fr.po
  help/fy/fy.po
  help/gl/gl.po
  help/hr/hr.po
  help/hu/hu.po
  help/id/id.po
  help/it/it.po
  help/ja/ja.po
  help/ko/ko.po
  help/lt/lt.po
  help/nb_NO/nb_NO.po
  help/nl/nl.po
  help/nn/nn.po
  help/oc/oc.po
  help/pl/pl.po
  help/pt/pt.po
  help/pt_BR/pt_BR.po
  help/ro/ro.po
  help/ru/ru.po
  help/sr/sr.po
  help/sv/sv.po
  help/ta/ta.po
  help/tr/tr.po
  help/uk/uk.po
  help/ur/ur.po
  help/zh_CN/zh_CN.po
  help/zh_TW/zh_TW.po
Due: none

Application: Update translation files
  application/po/ar.po
  application/po/az.po
  application/po/bn.po
  application/po/ca.po
  application/po/cs.po
  application/po/da.po
  application/po/de.po
  application/po/el.po
  application/po/eo.po
  application/po/es.po
  application/po/eu.po
  application/po/fi.po
  application/po/fr.po
  application/po/fy.po
  application/po/gl.po
  application/po/hr.po
  application/po/hu.po
  application/po/id.po
  application/po/it.po
  application/po/ja.po
  application/po/ko.po
  application/po/lt.po
  application/po/nb_NO.po
  application/po/nl.po
  application/po/nn.po
  application/po/oc.po
  application/po/pl.po
  application/po/pt.po
  application/po/pt_BR.po
  application/po/ro.po
  application/po/ru.po
  application/po/si.po
  application/po/sr.po
  application/po/sv.po
  application/po/ta.po
  application/po/tr.po
  application/po/uk.po
  application/po/ur.po
  application/po/zh_CN.po
  application/po/zh_TW.po
Due: screenshots

Application: Update Spanish translation using Weblate
  application/po/es.po
Due: screenshots

Application: Update Turkish translation using Weblate
  application/po/tr.po
Due: screenshots

Application: Update Swedish translation using Weblate
  application/po/sv.po
Due: screenshots

Screenshots: Remove unused import
  screenshots/screenshot.py
Due: screenshots

Application: Update Finnish translation using Weblate
  application/po/fi.po
Due: screenshots

Application: Update Indonesian translation using Weblate
  application/po/id.po
Due: screenshots

Help: Update Indonesian translation using Weblate
  help/id/id.po
Due: none

Changelog: Add 2.5.3 release notes
  CHANGELOG.md
Due: none

Status indicator: Fix strings not being translatable
  application/metadatacleaner/ui/statusindicator.py
Due: translations, mypy, pydocstyle, pycodestyle

Help: Update translation template
  help/C/fr.romainvigier.MetadataCleaner.pot
Due: none

Application: Update Czech translation using Weblate
  application/po/cs.po
Due: screenshots

Application: Update French translation using Weblate
  application/po/fr.po
Due: screenshots

Application: Update Occitan translation using Weblate
  application/po/oc.po
Due: screenshots

Application: Update Arabic translation using Weblate
  application/po/ar.po
Due: screenshots

Application: Update Catalan translation using Weblate
  application/po/ca.po
Due: screenshots

Application: Update Croatian translation using Weblate
  application/po/hr.po
Due: screenshots

Help: Update Czech translation using Weblate
  help/cs/cs.po
Due: none

Help: Update Catalan translation using Weblate
  help/ca/ca.po
Due: none

Build system: Bump version number to 2.5.4
  meson.build
Due: none

Application: Add Belarusian translation using Weblate
  application/po/LINGUAS
  application/po/be.po
Due: screenshots

Help: Add Belarusian translation using Weblate
  help/be/be.po
Due: none

Help: Update Belarusian translation using Weblate
  help/be/be.po
Due: none

Help: Update Polish translation using Weblate
  help/pl/pl.po
Due: none

appdata: add vcs-browser support
  application/data/fr.romainvigier.MetadataCleaner.metainfo.xml
Due: translations

Application: Update Japanese translation using Weblate
  application/po/ja.po
Due: screenshots

Path conditions:
  screenshots: any of: application/po/*.po, help/LINGUAS, screenshots/**/*
  translations: any of: application/**/*.py, application/data/**/*.desktop, application/data/**/*.ui, application/data/**/*.gschema.xml, application/data/**/*.metainfo.xml, application/po/POTFILES, help/C/**/*.page
  mypy: any of: application/**/*.py
  pydocstyle: any of: application/**/*.py
  pycodestyle: any of: application/**/*.py
