Repository catoblepa/metadata-cleaner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: screenshots, translations, mypy, pydocstyle, pycodestyle

Path conditions:
  screenshots: any of: application/po/*.po, help/LINGUAS, screenshots/**/*
  translations: any of: application/**/*.py, application/data/**/*.desktop, application/data/**/*.ui, application/data/**/*.gschema.xml, application/data/**/*.metainfo.xml, application/po/POTFILES, help/C/**/*.page
  mypy: any of: application/**/*.py
  pydocstyle: any of: application/**/*.py
  pycodestyle: any of: application/**/*.py

Application: Update Romanian translation using Weblate
  application/po/ro.po
Due: screenshots

Application: Update Portuguese translation using Weblate
  application/po/pt.po
Due: screenshots

Application: Update Chinese (Simplified) translation using Weblate
  application/po/zh_CN.po
Due: screenshots

Application: Update Chinese (Traditional) translation using Weblate
  application/po/zh_TW.po
Due: screenshots

Help: Update Portuguese (Brazil) translation using Weblate
  help/pt_BR/pt_BR.po
Due: none

appdata: Improve appdata for AppStream 1.0
  application/data/fr.romainvigier.MetadataCleaner.metainfo.xml
  application/data/meson.build
  build-aux/fr.romainvigier.MetadataCleaner.yaml
Due: translations

Application: Add Bulgarian translation using Weblate
  application/po/LINGUAS
  application/po/bg.po
Due: screenshots

Application: Update Hindi translation using Weblate
  application/po/hi.po
Due: screenshots

Help: Update Hindi translation using Weblate
  help/hi/hi.po
Due: none

Help: Add Bulgarian translation using Weblate
  help/bg/bg.po
Due: none

Application: Update translation template
  application/po/fr.romainvigier.MetadataCleaner.pot
Due: none

Help: Update translation template
  help/C/fr.romainvigier.MetadataCleaner.pot
Due: none

Metainfo: Don't make developer_name translatable
  application/data/fr.romainvigier.MetadataCleaner.metainfo.xml
Due: translations

Application: Update Greek translation using Weblate
  application/po/el.po
Due: screenshots

Application: Update Bulgarian translation using Weblate
  application/po/bg.po
Due: screenshots

Application: Update Ukrainian translation using Weblate
  application/po/uk.po
Due: screenshots

Application: Update Japanese translation using Weblate
  application/po/ja.po
Due: screenshots

Help: Update Bulgarian translation using Weblate
  help/bg/bg.po
Due: none

Help: Update Finnish translation using Weblate
  help/fi/fi.po
Due: none

Help: Update Greek translation using Weblate
  help/el/el.po
Due: none

Flatpak: Temporarily patch mat2's sandboxing
  build-aux/fr.romainvigier.MetadataCleaner.yaml
  build-aux/sandbox-fix.patch
Due: none

Flatpak: Update modules to latest versions
  build-aux/fr.romainvigier.MetadataCleaner.yaml
Due: none

Flatpak: Use mat2 master branch
  build-aux/fr.romainvigier.MetadataCleaner.yaml
  build-aux/sandbox-fix.patch
Due: none

Build system: Make default devel option boolean
  meson_options.txt
Due: none

Metainfo: Add 2.5.5 release notes
  application/data/fr.romainvigier.MetadataCleaner.metainfo.xml
Due: translations

Help: Add missing languages to LINGUAS
  help/LINGUAS
Due: screenshots
