Repository catoblepa/metadata-cleaner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: screenshots, translations, mypy, pydocstyle, pycodestyle

Path conditions:
  screenshots: any of: application/po/*.po, help/LINGUAS, screenshots/**/*
  translations: any of: application/**/*.py, application/data/**/*.desktop, application/data/**/*.ui, application/data/**/*.gschema.xml, application/data/**/*.metainfo.xml, application/po/POTFILES, help/C/**/*.page
  mypy: any of: application/**/*.py
  pydocstyle: any of: application/**/*.py
  pycodestyle: any of: application/**/*.py

Application: Update Swedish translation using Weblate
  application/po/sv.po
Due: screenshots

Help: Update German translation using Weblate
  help/de/de.po
Due: none

Help: Update Hungarian translation using Weblate
  help/hu/hu.po
Due: none

Help: Update translation files
  help/ar/ar.po
  help/az/az.po
  help/bn/bn.po
  help/ca/ca.po
  help/cs/cs.po
  help/da/da.po
  help/de/de.po
  help/el/el.po
  help/es/es.po
  help/eu/eu.po
  help/fi/fi.po
  help/fr/fr.po
  help/fy/fy.po
  help/gl/gl.po
  help/hr/hr.po
  help/hu/hu.po
  help/id/id.po
  help/it/it.po
  help/ja/ja.po
  help/ko/ko.po
  help/lt/lt.po
  help/nb_NO/nb_NO.po
  help/nl/nl.po
  help/nn/nn.po
  help/oc/oc.po
  help/pl/pl.po
  help/pt/pt.po
  help/pt_BR/pt_BR.po
  help/ro/ro.po
  help/ru/ru.po
  help/sr/sr.po
  help/sv/sv.po
  help/ta/ta.po
  help/tr/tr.po
  help/uk/uk.po
  help/zh_CN/zh_CN.po
  help/zh_TW/zh_TW.po
Due: none

Help: Update Chinese (Traditional) translation using Weblate
  help/zh_TW/zh_TW.po
Due: none

Help: Update Arabic translation using Weblate
  help/ar/ar.po
Due: none

Help: Update translation template
  help/C/fr.romainvigier.MetadataCleaner.pot
Due: none

Website: Remove support link
  website/icons/support.svg
  website/index.html
  website/style.css
Due: none

Contributing: Remove TOC
  CONTRIBUTING.md
Due: none

Screenshots: Use new buttons for website
  screenshots/website.ui
Due: screenshots

Website: Update screenshots
  website/app-2x.png
  website/app.png
Due: none

Metainfo: Remove donation link
  application/data/fr.romainvigier.MetadataCleaner.metainfo.xml
Due: translations

Help: Update Occitan translation using Weblate
  help/oc/oc.po
Due: none

Application: Update Japanese translation using Weblate
  application/po/ja.po
Due: screenshots

Application: Update Finnish translation using Weblate
  application/po/fi.po
Due: screenshots

Help: Update Dutch translation using Weblate
  help/nl/nl.po
Due: none

Flatpak: Update modules to latest versions
  build-aux/fr.romainvigier.MetadataCleaner.yaml
Due: none

Changelog: Add 2.5.1 release notes
  CHANGELOG.md
Due: none

Metainfo: Add 2.5.1 release notes
  application/data/fr.romainvigier.MetadataCleaner.metainfo.xml
Due: translations

Application: Update translation template
  application/po/fr.romainvigier.MetadataCleaner.pot
Due: none

Application: Update Korean translation using Weblate
  application/po/ko.po
Due: screenshots

Application: Update Russian translation using Weblate
  application/po/ru.po
Due: screenshots

Application: Update Tamil translation using Weblate
  application/po/ta.po
Due: screenshots

Help: Update Tamil translation using Weblate
  help/ta/ta.po
Due: none

Application: Update Ukrainian translation using Weblate
  application/po/uk.po
Due: screenshots

Application: Update Arabic translation using Weblate
  application/po/ar.po
Due: screenshots

Help: Add Urdu translation using Weblate
  help/ur/ur.po
Due: none

Help: Update Urdu translation using Weblate
  help/ur/ur.po
Due: none

Help: Update translation files
  help/ar/ar.po
  help/az/az.po
  help/bn/bn.po
  help/ca/ca.po
  help/cs/cs.po
  help/da/da.po
  help/de/de.po
  help/el/el.po
  help/es/es.po
  help/eu/eu.po
  help/fi/fi.po
  help/fr/fr.po
  help/fy/fy.po
  help/gl/gl.po
  help/hr/hr.po
  help/hu/hu.po
  help/id/id.po
  help/it/it.po
  help/ja/ja.po
  help/ko/ko.po
  help/lt/lt.po
  help/nb_NO/nb_NO.po
  help/nl/nl.po
  help/nn/nn.po
  help/oc/oc.po
  help/pl/pl.po
  help/pt/pt.po
  help/pt_BR/pt_BR.po
  help/ro/ro.po
  help/ru/ru.po
  help/sr/sr.po
  help/sv/sv.po
  help/ta/ta.po
  help/tr/tr.po
  help/uk/uk.po
  help/ur/ur.po
  help/zh_CN/zh_CN.po
  help/zh_TW/zh_TW.po
Due: none

Build system: Bump version number to 2.5.2
  meson.build
Due: none

Changelog: Add 2.5.2 release notes
  CHANGELOG.md
Due: none

Application: Update translation files
  application/po/ar.po
  application/po/az.po
  application/po/bn.po
  application/po/ca.po
  application/po/cs.po
  application/po/da.po
  application/po/de.po
  application/po/el.po
  application/po/es.po
  application/po/eu.po
  application/po/fi.po
  application/po/fr.po
  application/po/fy.po
  application/po/gl.po
  application/po/hr.po
  application/po/hu.po
  application/po/id.po
  application/po/it.po
  application/po/ja.po
  application/po/ko.po
  application/po/lt.po
  application/po/nb_NO.po
  application/po/nl.po
  application/po/nn.po
  application/po/oc.po
  application/po/pl.po
  application/po/pt.po
  application/po/pt_BR.po
  application/po/ro.po
  application/po/ru.po
  application/po/si.po
  application/po/sr.po
  application/po/sv.po
  application/po/ta.po
  application/po/tr.po
  application/po/uk.po
  application/po/ur.po
  application/po/zh_CN.po
  application/po/zh_TW.po
Due: screenshots
