Repository catoblepa/metadata-cleaner: changes, and which GitLab CI jobs are due for each by the changed paths.
All: screenshots, translations, mypy, pydocstyle, pycodestyle

Path conditions:
  screenshots: any of: application/po/*.po, help/LINGUAS, screenshots/**/*
  translations: any of: application/**/*.py, application/data/**/*.desktop, application/data/**/*.ui, application/data/**/*.gschema.xml, application/data/**/*.metainfo.xml, application/po/POTFILES, help/C/**/*.page
  mypy: any of: application/**/*.py
  pydocstyle: any of: application/**/*.py
  pycodestyle: any of: application/**/*.py

Help: Update translation template
  help/C/fr.romainvigier.MetadataCleaner.pot
Due: none

Application: Update translation template
  application/po/fr.romainvigier.MetadataCleaner.pot
Due: none

Code: Make CSS code styling consistent
  application/data/css/style.css
Due: none

Application: Update translation files
  application/po/ar.po
  application/po/az.po
  application/po/bn.po
  application/po/ca.po
  application/po/cs.po
  application/po/da.po
  application/po/de.po
  application/po/el.po
  application/po/es.po
  application/po/eu.po
  application/po/fi.po
  application/po/fr.po
  application/po/fy.po
  application/po/gl.po
  application/po/hr.po
  application/po/hu.po
  application/po/id.po
  application/po/it.po
  application/po/ja.po
  application/po/ko.po
  application/po/lt.po
  application/po/nb_NO.po
  application/po/nl.po
  application/po/nn.po
  application/po/oc.po
  application/po/pl.po
  application/po/pt.po
  application/po/pt_BR.po
  application/po/ro.po
  application/po/ru.po
  application/po/si.po
  application/po/sr.po
  application/po/sv.po
  application/po/ta.po
  application/po/tr.po
  application/po/uk.po
  application/po/zh_CN.po
  application/po/zh_TW.po
Due: screenshots

Help: Update translation files
  help/ar/ar.po
  help/az/az.po
  help/bn/bn.po
  help/ca/ca.po
  help/cs/cs.po
  help/da/da.po
  help/de/de.po
  help/el/el.po
  help/es/es.po
  help/eu/eu.po
  help/fi/fi.po
  help/fr/fr.po
  help/fy/fy.po
  help/gl/gl.po
  help/hr/hr.po
  help/hu/hu.po
  help/id/id.po
  help/it/it.po
  help/ja/ja.po
  help/ko/ko.po
  help/lt/lt.po
  help/nb_NO/nb_NO.po
  help/nl/nl.po
  help/nn/nn.po
  help/oc/oc.po
  help/pl/pl.po
  help/pt/pt.po
  help/pt_BR/pt_BR.po
  help/ro/ro.po
  help/ru/ru.po
  help/sr/sr.po
  help/sv/sv.po
  help/ta/ta.po
  help/tr/tr.po
  help/uk/uk.po
  help/zh_CN/zh_CN.po
  help/zh_TW/zh_TW.po
Due: none

Changelog: Add 2.4.0 release notes
  CHANGELOG.md
Due: none

Metainfo: Add 2.4.0 release notes
  application/data/fr.romainvigier.MetadataCleaner.metainfo.xml
Due: translations

Help: Update Russian translation using Weblate
  help/ru/ru.po
Due: none

Application: Remove idle function sources
  application/metadatacleaner/modules/file.py
  application/metadatacleaner/modules/filestore.py
Due: translations, mypy, pydocstyle, pycodestyle

Settings: Remove description and stop translating
  application/data/fr.romainvigier.MetadataCleaner.gschema.xml
  application/po/POTFILES
Due: translations

Add files button: Put Add folders button next to the Add files button, hide label if necessary
  application/data/ui/AddFilesButton.ui
  application/metadatacleaner/ui/addfilesbutton.py
  help/C/usage.page
  screenshots/application-1.ui
  screenshots/application-2.ui
  screenshots/application-3.ui
  screenshots/application-4.ui
  screenshots/common.css
  screenshots/help-add-folders-button.css
  screenshots/help-add-folders-button.ui
  screenshots/screenshot.py
Due: screenshots, translations, mypy, pydocstyle, pycodestyle

Window: Remember maximized state
  application/data/fr.romainvigier.MetadataCleaner.gschema.xml
  application/metadatacleaner/ui/window.py
Due: translations, mypy, pydocstyle, pycodestyle

Window: Remove extraneous widget
  application/data/ui/Window.ui
Due: translations

Metainfo: Remove release notes descriptions to reduce translating burden
  application/data/fr.romainvigier.MetadataCleaner.metainfo.xml
Due: translations

About window: Use Libadwaita about window
  application/data/css/style.css
  application/data/fr.romainvigier.MetadataCleaner.gresource.xml
  application/data/icons/chat-symbolic.svg
  application/data/icons/code-symbolic.svg
  application/data/icons/support-symbolic.svg
  application/data/icons/translate-symbolic.svg
  application/data/ui/AboutDialog.ui
  application/data/ui/Window.ui
  application/metadatacleaner/meson.build
  application/metadatacleaner/ui/aboutdialog.py
  application/metadatacleaner/ui/window.py
Due: translations, mypy, pydocstyle, pycodestyle

Screenshots: Fix implicit optionals
  screenshots/screenshot.py
Due: screenshots

Application: Update Indonesian translation using Weblate
  application/po/id.po
Due: screenshots

Application: Update French translation using Weblate
  application/po/fr.po
Due: screenshots

Help: Update screenshots
  help/id/figures/add-files-button.png
  help/id/figures/metadata-example.png
  help/ko/figures/add-files-button.png
  help/ko/figures/add-folders-button.png
  help/ko/figures/clean-button.png
  help/ko/figures/metadata-example.png
Due: none

Help: Update Korean translation using Weblate
  help/ko/ko.po
Due: none

Readme: Remove Support section
  README.md
Due: none

Readme: Update required Libadwaita version
  README.md
Due: none

Application: Update Occitan translation using Weblate
  application/po/oc.po
Due: screenshots

Application: Update Italian translation using Weblate
  application/po/it.po
Due: screenshots

Application: Update Spanish translation using Weblate
  application/po/es.po
Due: screenshots

Application: Update Hungarian translation using Weblate
  application/po/hu.po
Due: screenshots
